<a href="https://colab.research.google.com/github/leonardosilvamelosantos/DESAFIO-CIENCIAS-DE-DADOS-PUC/blob/main/Machine%20Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


# URL do arquivo CSV (link raw no GitHub)
url = "https://raw.githubusercontent.com/malegopc/DSBD/main/Datasets/Churn/Churn_Modelling.csv"

# Carregar o DataFrame a partir do arquivo CSV
dataframe = pd.read_csv(url)

# Exibir as primeiras linhas do DataFrame
print(dataframe.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [ ]:
# Eliminar instâncias com dados ausentes na coluna "IsActiveMember" no próprio DataFrame
dataframe.dropna(subset=['IsActiveMember'], inplace=True)

# Exibir as primeiras linhas do DataFrame após a remoção
print(dataframe.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [ ]:
# Calcular a média da variável "NumOfProducts"
media_num_of_products = dataframe['NumOfProducts'].mean()

# Imputar os dados ausentes na variável "NumOfProducts" com a média
dataframe['NumOfProducts'].fillna(media_num_of_products, inplace=True)

# Exibir as primeiras linhas do DataFrame após a imputação
print(dataframe.head())

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

In [ ]:
# Criar variável X com os atributos de "CreditScore" a "EstimatedSalary"
X = dataframe.iloc[:, 3:-1]  # Seleciona as colunas da 4ª à penúltima


# Criar variável y com a coluna "Exited" como variável destino
y = dataframe['Exited']

# Exibir as primeiras linhas de X e y
print("Variável X:")
print(X.head())

print("\nVariável y:")
print(y.head())

Variável X:
   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10

Variável y:
0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Criar uma cópia de X para preservar o DataFrame original
X_encoded = X.copy()

# Instanciar o LabelEncoder
label_encoder = LabelEncoder()

# Codificar a coluna "Gender" como numérica
X_encoded['Gender'] = label_encoder.fit_transform(X['Gender'])

# Exibir as primeiras linhas de X_encoded
print("Variável X_encoded:")
print(X_encoded.head())

Variável X_encoded:
   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France       0   42       2       0.00              1
1          608     Spain       0   41       1   83807.86              1
2          502    France       0   42       8  159660.80              3
3          699    France       0   39       1       0.00              2
4          850     Spain       0   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Supondo que você já tenha X_encoded do passo anterior
# Se não, certifique-se de ter a coluna "Geography" codificada usando LabelEncoder

# Criar um ColumnTransformer para aplicar OneHotEncoder à coluna 'Geography'
column_transformer = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(drop='first'), ['Geography'])
    ],
    remainder='passthrough'
)

# Aplicar a transformação ao DataFrame
X_encoded_array = column_transformer.fit_transform(X_encoded)

# Converter o resultado de volta para um DataFrame
X_encoded = pd.DataFrame(X_encoded_array, columns=['Geography_2', 'Geography_3'] + list(X_encoded.columns[1:]))

# Exibir as primeiras linhas de X_encoded
print("Variável X_encoded com OneHotEncoding para 'Geography':")
print(X_encoded.head())

Variável X_encoded com OneHotEncoding para 'Geography':
   Geography_2  Geography_3  Geography  Gender   Age  Tenure    Balance  \
0          0.0          0.0      619.0     0.0  42.0     2.0       0.00
1          0.0          1.0      608.0     0.0  41.0     1.0   83807.86
2          0.0          0.0      502.0     0.0  42.0     8.0  159660.80
3          0.0          0.0      699.0     0.0  39.0     1.0       0.00
4          0.0          1.0      850.0     0.0  43.0     2.0  125510.82

   NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0            1.0        1.0             1.0        101348.88
1            1.0        0.0             1.0        112542.58
2            3.0        1.0             0.0        113931.57
3            2.0        0.0             0.0         93826.63
4            1.0        1.0             1.0         79084.10

In [ ]:
from sklearn.model_selection import train_test_split

# Definir a proporção de dados de treino e teste
proporcao_treino = 0.75

# Dividir os dados em conjuntos de treino e teste
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=(1 - proporcao_treino), random_state=42)

# Exibir as dimensões de treino e teste
print(f"Dimensões de X_train: {X_train.shape}")
print(f"Dimensões de X_test: {X_test.shape}")
print(f"Dimensões de y_train: {y_train.shape}")
print(f"Dimensões de y_test: {y_test.shape}")

Dimensões de X_train: (7500, 11)
Dimensões de X_test: (2500, 11)
Dimensões de y_train: (7500,)
Dimensões de y_test: (2500,)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Ajustar o scaler aos dados de treino e transformar X_train
X_train_scaled = scaler.fit_transform(X_train)

# Transformar X_test usando o scaler ajustado aos dados de treino
X_test_scaled = scaler.transform(X_test)


print("X_train_scaled:")
print(X_train_scaled[:5, :])  # Exibindo as primeiras 5 linhas

print("\nX_test_scaled:")
print(X_test_scaled[:5, :])   # Exibindo as primeiras 5 linhas

X_train_scaled:
[[-0.57776083 -0.57735027  0.21835119  0.91186722  1.91661905 -1.73168869
   1.62992801  0.81311138 -1.53973586  0.96978946 -1.38284424]
 [ 1.73082    -0.57735027  2.05728037  0.91186722  0.20210899  1.04174968
  -0.24624357 -0.91104337  0.64946204 -1.03115165 -1.19589044]
 [-0.57776083 -0.57735027  0.75860157 -1.09665089 -0.75039661  0.34839008
  -1.22102728 -0.91104337 -1.53973586 -1.03115165 -0.68342242]
 [-0.57776083 -0.57735027 -0.08294229  0.91186722 -0.55989549  0.69506988
   1.57410113 -0.91104337 -1.53973586  0.96978946 -0.98539624]
 [-0.57776083  1.73205081  0.5300341   0.91186722 -0.94089772  1.38842947
  -1.22102728  0.81311138  0.64946204 -1.03115165 -0.86837538]]

X_test_scaled:
[[ 1.73082    -0.57735027 -0.58163494  0.91186722 -0.65514605 -0.69164931
   0.32741841  0.81311138 -1.53973586 -1.03115165 -1.02282685]
 [-0.57776083 -0.57735027 -0.30112032  0.91186722  0.3926101  -1.3850089
  -1.22102728  0.81311138  0.64946204  0.96978946  0.79406925]
 [-0.57776083  1.73205081 -0.52968779 -1.09665089  0.48786066 -0.34496951
  -1.22102728  0.81311138  0.64946204 -1.03115165 -0.73145656]
 [ 1.73082    -0.57735027 -1.51668367  0.91186722  1.91661905  1.04174968
   0.68676229  0.81311138  0.64946204  0.96978946  1.21620312]
 [-0.57776083  1.73205081 -0.95565443 -1.09665089 -1.13139884  0.69506988
   0.78033088 -0.91104337  0.64946204  0.96978946  0.24322908]]